<!DOCTYPE html>
<html>
<head>
  <title>Outpost</title>
  <%= stylesheet_link_tag    "outpost/application", :media => "all" %>
  <%= javascript_include_tag "outpost/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
