<style>
  #form-nav ul.nav.nav-list {
    display: none;
  }
  #form-nav ul.hover {
    list-style: none;
    position: absolute;
    z-index: 20;
    background-color: white;
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgray;
    margin-top: -13px;
    width: 100%;
    margin-left: 0;
  }

.show-on-hover > ul.dropdown-menu {
  margin-top: -2px;  
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
</style>

<% if @sections.present? %>
  <div class="btn-group show-on-hover">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Jump to Section <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @sections.each do |id, title| %>
        <li><a href="#<%=id%>"><%= title %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>