<% if title.present? %>
  <% id = "form-block-#{title.parameterize}" %>
  <% @sections[id] = title if @sections %>
  <fieldset class="form-block <%= 'dockable' if options[:dockable] %>" id="<%=id%>">
  <legend>
    <%= title %>
    <% if options[:dockable] %>
      <span class="dockable-controls">
        <a href="#" class="dismiss-control" style="display: none;">X</a>
        <a href="#" class="dock-control"> >> </a>
      </span>
    <% end %>
  </legend>

  <div class="hidden notification">
    <p class="muted"><i>Click header to show fields</i></p>
  </div>

<% else %>
  <fieldset class="form-block">
<% end %>

  <div class="fields">
    <%= body %>
  </div>
</fieldset>
