<div class="alert alert-error">
  This <%= record.class.to_title %> can't be previewed until the following problems are corrected:

  <ul style="margin-bottom: 0;">
    <% record.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
