$gridColumnWidth: 75px;
$navOffset: 40px;
$breadcrumbOffset: 36px;
$iconRedSpritePath: 'glyphicons-halflings-red.png';


@import "outpost/bootstrap/bootstrap";
@import "select2";

@import "outpost/base";
@import "outpost/edit";
@import "outpost/forms";
@import "outpost/index";
@import "outpost/utility";
